[Unit]
Description=Synchronize Eturnal certificates
Requires=network-online.target
After=network-online.target

[Service]
Type=oneshot
        
ExecStart=/usr/sbin/rsync -aL --chown 9000:9000 /etc/letsencrypt/live/turn.metropolis.nexus/fullchain.pem /srv/eturnal/certs
ExecStart=/usr/sbin/rsync -aL --chown 9000:9000 /etc/letsencrypt/live/turn.metropolis.nexus/privkey.pem /srv/eturnal/certs
ExecStart=/usr/sbin/systemctl restart eturnal

CapabilityBoundingSet=
LockPersonality=true
MemoryDenyWriteExecute=true
NoNewPrivileges=true
PrivateDevices=true
PrivateIPC=true
PrivateTmp=true
ProcSubset=pid
ProtectClock=true
ProtectControlGroups=true
ProtectHome=read-only
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectProc=invisible
ProtectSystem=strict
RestrictAddressFamilies=
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallFilter=~@obsolete