[Unit]
Description=Resync Miniflux certificates in case of previous failures

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=100min

[Install]
WantedBy=timers.target